.mo-bottom-corner{
    position: fixed;
    width: 5em;
    height: 5em;
    bottom: 2em;
    right: 2em;
    border-radius: 50px;
    border: black solid;
    text-align: center;
    box-shadow: 5px 5px 5px #999;
    z-index: 100;
}

.mo_oauth_pro_icon1 {
	height: 4%;
	width: 3%;
}

.mo_pro_tooltip {
    visibility: hidden;
    background-color: #e0e0e0;
    border: groove;
    color: black;
    font-size: 84%;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
	margin: 5px;
}

.mo_oauth_pro_icon1:hover+.mo_pro_tooltip {
	visibility: visible;
	opacity: 1;
}